@font-face {
  font-family: Abyssinica SIL;
  src: url("fonts/AbyssinicaSIL400.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2em;
}

html {
  scroll-behavior: smooth;
}

/* Button scroll up */
#scrollUp
{
position: fixed;
bottom : 10px;
right: -150px;
opacity: 0.5;
}

#scrollUp:hover{
  opacity: 1;
}

#small{
  width: 40%;
}

/* Section 1 */
#section1 {
  background-image: url(./img/canyon.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-holder {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* Navbar */
.navbar-light .navbar-brand {
  color: white !important;
  font-family: Abyssinica SIL;
  letter-spacing: 0.2em;
  font-size: 3vh;
  line-height: 2.1vh;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  font-family: Abyssinica SIL;
  letter-spacing: 0.2em;
  font-size: 2.2vh;
  line-height: 2.1vh;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

/* Nice to meet you */
#nice {
  color: white;
  font-family: Abyssinica SIL;
  letter-spacing: 0.2em;
  font-size: 9vh;
  line-height: 2.1vh;
  display: flex;
  justify-content: center;
}

#em{
  color: white;
  font-family: Abyssinica SIL;
  letter-spacing: 0.2em;
  font-size: 2.5vh;
  line-height: 2.1vh;
  margin-top: 2.5vh;
  text-align: center;

}

/* arrow */
.arrow {
    display: flex;
    justify-content: center;
}

/* Section 2 */
#section2 {
  background-image: url(./img/yellow-mountains.png);
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* main */
#main{
  color: white;
  font-family: Abyssinica SIL;
  letter-spacing: 0.2em;
  font-size: 6.5vh;
  line-height: 2.1vh;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

/* carousel */
.carousel{
  width: 60%;
  margin-left: auto;
      margin-right: auto;
}

/* button */
#show{
  display: flex;
  justify-content: center;
}

.btn{
  color: white;
  font-family: Abyssinica SIL;
  letter-spacing: 0.2em;
  line-height: 2.1vh;
}

/* section 3 */
#section3{
  background-image: url(img/cliff.png);
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* centrage */
.enligne{
  display: flex;
  justify-content: space-around;
}

/* formulaire de contact */
.contact {
  width: 75vh;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: .25rem;
}

.libelle{
  color: white;
  font-family: Abyssinica SIL;
  letter-spacing: 0.2em;
  font-size: 3vh;
  line-height: 2.1vh;
  display: flex;
  justify-content: center;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  width: 18vh;
  text-align: right;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
     font-size: 2vh !important;
  /* Pour que tous les champs texte aient la même dimension */
  width: 40vh;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;
  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

#button {
  display: flex;
  justify-content: center;
}

button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
}

/* Renseignements */
.coordonnees{
  color: white;
  font-family: Abyssinica SIL;
  letter-spacing: 0.2em;
  font-size: 3.5vh;
  line-height: 2.1vh;
  margin-bottom: 2.5vh;
}

.center{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Réseaux */
#social{
  display: flex;
  justify-content: space-around;
}

.reseaux{
  color: white;
  font-family: Abyssinica SIL;
  letter-spacing: 0.2em;
  font-size: 2.5vh;
  line-height: 2.1vh;
  margin-bottom: 2.5vh;
}

.reseaux:hover{
  color: white;
}


/* Projects */
#projects{
  background-image: url(./img/Dock.png);
  height: 100vh;
  background-size: cover;
}






/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
