fa-2x {
  font-size: 2em;
}

fa-1x {
  font-size: 1.5em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 60px;
  margin-top: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu:hover, nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #26262680;
  border-right: 1px grey solid;
  position: absolute;
  /* top: 0;
  bottom: 0; */
  height: 100%;
  /* left: 0; */
  width: 60px;
  overflow: hidden;
  box-shadow: 5px 0px 15px black;
  -webkit-transition: width .05s linear;
  transition: width .05s ease-in;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.logout a {
  font-size: 18px;
}

.logout .fa {
  padding-top: 15px;
  padding-bottom: 15px;
}
.logout{
  position: absolute;
  bottom: 5%;
}
.logonav {
  position: absolute;
  top: 15%;
  font-size: 20px;
}

.logonav li {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  font-family: arial;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 190px;
}

.main-menu>ul.logout {
  position: absolute;
  /* left: 0;
  bottom: 0; */
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover, a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.area {
  float: left;
  background: #262626;
  width: 100%;
  height: 100%;
}
.stickynav{
  position: fixed;
  height: 100%;
  z-index: 1;
}
#logo {
  background-image: url("../img/kekette.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 250px;
  height: 60px;
}
