@font-face {
  font-family: 'Rochester';
  src: url('font/Rochester/Rochester-Regular.ttf');
}

@font-face {
  font-family: 'Lora';
  src: url('font/Lora/static/Lora-Medium.ttf');
}

body{
  background-image: url(images/marble.jpg);
}



/* DETAIL */

.vertical{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 10vh;
  font-family: 'Rochester';
}

.space{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  font-weight: 500;
  font-family: 'Lora';
}


.center {

    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px){
  .vertical{
    height: auto;
  }

  .space{
    flex-direction: column;
    margin-top: 2vh;
  }
  img{
    width: 80%;
  }
}
